body{
    width: 100%;
    height: 100%;
    color: #333;
    text-align: center;
}
.header{
    background-color: #006400;
    color: white;
}
@media (min-width: 992px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 768px)
　.container {
    width: 100%;
}

.container{
    margin: 0 auto 10vh auto;
}
